## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(101),80)
print(f"sample_list_1 = {sample_list_1}")
print(f"List length is: {len(sample_list_1)}")

sample_list_1 = [7, 30, 60, 34, 58, 98, 54, 75, 22, 8, 18, 46, 41, 38, 29, 99, 48, 74, 44, 65, 62, 67, 70, 12, 53, 63, 85, 80, 66, 61, 42, 96, 25, 93, 64, 71, 79, 40, 81, 78, 59, 39, 90, 92, 0, 97, 89, 49, 51, 4, 68, 57, 69, 87, 9, 37, 11, 17, 43, 3, 31, 47, 10, 45, 24, 13, 5, 33, 55, 16, 94, 6, 84, 2, 72, 56, 50, 82, 76, 26]
List length is: 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(f"set1 = {set1}")
print(f"Set length is: {len(set1)}")

set1 = {0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 22, 24, 25, 26, 29, 30, 31, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 87, 89, 90, 92, 93, 94, 96, 97, 98, 99}
Set length is: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []
for i in range(4):
    sample_list_2.extend(random.sample(range(20),20))
print(f"sample_list_2 = {sample_list_2}")
print(f"List length is: {len(sample_list_2)}")

sample_list_2 = [16, 13, 8, 6, 2, 19, 12, 3, 17, 11, 18, 9, 14, 10, 0, 7, 1, 5, 15, 4, 18, 12, 15, 11, 13, 0, 10, 2, 17, 14, 6, 1, 9, 7, 16, 19, 3, 4, 5, 8, 8, 18, 12, 14, 1, 4, 2, 13, 0, 16, 7, 11, 15, 3, 19, 17, 5, 9, 6, 10, 5, 8, 1, 17, 9, 18, 16, 10, 2, 12, 3, 11, 19, 4, 7, 13, 14, 6, 15, 0]
List length is: 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(f"set2 = {set2}")
print(f"Set length is: {len(set2)}")
print("Function len to a set removes repetead numbers")

set2 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
Set length is: 20
Function len to a set removes repetead numbers

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1 - set2
print(f"set3 = {set3}")

set3 = {22, 24, 25, 26, 29, 30, 31, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 87, 89, 90, 92, 93, 94, 96, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2 - set1
print(f"set4 = {set4}")

set4 = {1, 19, 14, 15}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set2.intersection(set1)
print(f"set5 = {set5}")

set5 = {0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
print(f"set1 is set3 + set5: {len(set1)} = {len(set3)} + {len(set5)}")
print(f"{len(set1)} = {len(set3)+len(set5)}")

print(f"set2 is set4 + set5: {len(set2)} = {len(set4)} + {len(set5)}")
print(f"{len(set2)} = {len(set4)+len(set5)}")

print(f"set5 is set1 - set3: {len(set5)} = {len(set1)} - {len(set3)}")
print(f"{len(set5)} = {len(set1)-len(set3)}")

set1 is set3 + set5: 80 = 64 + 16
80 = 80
set2 is set4 + set5: 20 = 4 + 16
20 = 20
set5 is set1 - set3: 16 = 80 - 64
16 = 16

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = ()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6 = set3.union(set5)
print(f"set6 = {set6}")

set6 = {0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 22, 24, 25, 26, 29, 30, 31, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 87, 89, 90, 92, 93, 94, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
if set1 == set6:
    print('set1 and set6 are equals')
else:
    print('set1 and set6 are not equals')

set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
print(f"set1 = {set1}")
print(f"set2 = {set2}")
if (set2.issubset(set1)):
    print("set1 contains set2")
else:
    print("set1 doesn't contain set2")

print(f"set1 = {set1}")
print(f"set3 = {set3}")
if (set3.issubset(set1)):
    print("set1 contains set3")
else:
    print("set1 doesn't contain set3")

set1 = {0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 22, 24, 25, 26, 29, 30, 31, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 87, 89, 90, 92, 93, 94, 96, 97, 98, 99}
set2 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
set1 doesn't contain set2
set1 = {0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 22, 24, 25, 26, 29, 30, 31, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 87, 89, 90, 92, 93, 94, 96, 97, 98, 99}
set3 = {22, 24, 25, 26, 29, 30, 31, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 87, 89, 90, 92, 93, 94, 96, 97, 98, 99}
set1 contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
set7 = set3.union(set4).union(set5)
print(f"set7 = {set7}")
set8 = set1.union(set2)
print(f"set8 = {set8}")
if (set7 == set8):
    print(f"set7 and set8 are equals")

set7 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 24, 25, 26, 29, 30, 31, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 87, 89, 90, 92, 93, 94, 96, 97, 98, 99}
set8 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 24, 25, 26, 29, 30, 31, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 87, 89, 90, 92, 93, 94, 96, 97, 98, 99}
set7 and set8 are equals

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
print(f"set1 = {set1}")
elem9 = set1.pop()
print(f"set1 = {set1}")
print(f"element removed is {elem9}")

set1 = {0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 22, 24, 25, 26, 29, 30, 31, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 87, 89, 90, 92, 93, 94, 96, 97, 98, 99}
set1 = {2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 22, 24, 25, 26, 29, 30, 31, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 87, 89, 90, 92, 93, 94, 96, 97, 98, 99}
element removed is 0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(f"set1 = {set1}")
for i in list_to_remove:
    set1.discard(i)
print(f"set1 = {set1}")

set1 = {2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 22, 24, 25, 26, 29, 30, 31, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 87, 89, 90, 92, 93, 94, 96, 97, 98, 99}
set1 = {2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 16, 17, 18, 22, 24, 25, 26, 30, 33, 34, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 87, 90, 92, 93, 94, 96, 97, 98}